type Props = {
  className?: string;
  children: React.ReactNode;
};

export function {{ component_name }}({
  className,
  children
}: Props) {
  return (
    <div className={className}>
      {children}
    </div>
  );
}
